<div class = "main" >
<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">  
  <div class="row">
   <div class="col-lg-4">
<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>User info</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label>
  <p><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></p>
  <label for="inputImage">Image</label>
  <p><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
  <label for="inputCaption">Introduction</label>
  <p><%= f.text_area :caption, autofocus: true, id:"inputCaption", placeholder:"コメント" %></p>
  
  
  <p><%= f.submit "Update User" %></p>
<% end %>

          
    
</div>
</div>
</div>
</div>
