

<p id="notice"><%= notice %></p>
<div class="container px-8 px-sm-0">  
  <div class="row">
   <div class="col-lg-3">

<h2>User info</h2>
      <%= image_tag current_user.get_profile_image %>
    <p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>name</th>
            <th><%= current_user.name %></th>
          </tr>
        </thead>
        <tbody>
            <td>introduction</td>
            <td><%= current_user.caption %></td>
        </tbody>
  </p>
</table>



  <div class = "edit">
<%= link_to edit_user_path(current_user) do %>
<div class= "btn btn-outline-secondary btn-block " >
  
  <button class="btn btn-Secondary" type="button">
  <i class="fa-sharp fa-solid fa-user-gear"></i></button>
</div>
<% end %>
</div>
<h2>New book</h2>
<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_field :body %>

  <p><%= f.submit 'Create Book', class: "btn btn-success" %></p>
<% end %>
</div>

