<p id="notice"><%= notice %></p>
<div class="container">  
  <div class="row">  
  <table class="table table-striped">
   <div class="col-lg-4">
    


<%= render 'books/book', users: @users, books: @books %>

</div>  
 <div class="col-lg-8">

           <h1>Books</h1>
          <% if @user.image.attached? %>
          <%= image_tag @user.image, size: "100x100" %>
          <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
          <p><%= link_to @user.name, user_path(current_user) %></p>
          <p>Title <%= @book.title %></p>
          <p>Opinion <%= @book.body %></p>

  
</table>

</div> 