<div class = "j" ><h1>User info</h1>


  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>

<p>name</p>
<%= @user.name %>
<p>introduction</p>
<% if @user.caption.attached? %>
  　<%= @user.caption %>
  <% else %>
  <% end %>

<div class = "edit">
<%= link_to edit_user_path(current_user) do %>
  <i class="fa-sharp fa-solid fa-user-gear"></i>
<% end %>
</div>
<h1>New book</h1>
<%= form_with model: @book, url:'/books' do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <p><%= f.submit 'Create Book', class: "btn btn-success" %></p>
<% end %>

</div>