<p id="notice"><%= notice %></p>
<div class="container">  
  <div class="row">  
  <table class="table table-striped">
   <div class="col-lg-4" style="background-color: orange;">
    <h1>User info</h1>
      <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "100x100" %>
    <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
    <% end %>

   <p>name</p>
  <%= @user.name %>
  <p>introduction</p>
<% if @user.caption.attached? %>
  　<%= @user.caption %>
  <% else %>
  <% end %>

<div class = "edit">
<%= link_to edit_user_path(current_user) do %>
  <i class="fa-sharp fa-solid fa-user-gear"></i>
<% end %>
</div>


<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <p><%= f.submit 'Create Book', class: "btn btn-success" %></p>
<% end %>

</div>  
 <div class="col-lg-8">

<h1>Books</h1>
<% @books.each do |books| %>

  <p>タイトル</p>
  <span><%= book.title %></span>
  <p>Opinion</p>
  <span><%= book.body %></span>
<% end %>
  
</table>
</div>

</div> 