<p id="notice"><%= notice %></p>
<div class="container container px-5 px-sm-0">

  <div class="row">

      <div class="col-md-3">


    <%= render 'books/book', users: @users, books: @books %>

      </div>
      <div class = "col-md-8 offset-md-1">
          <h1>Books detail</h1>
          
          <% if @user.image.attached? %>
          <%= image_tag @user.image, size: "100x100" %>
          <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
          <p><%= link_to @user.name, user_path(current_user) %></p>
          <p>Title <%= @book.title %></p>
          <p>Opinion <%= @book.body %></p>
          <%= link_to "Edit", edit_book_path, class: "btn btn-success" %>
          <% if @book.user == current_user %>
          <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %>
  <% end %>
      </div>
 </div>

