<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/afee8aede3.js" crossorigin="anonymous"></script>
    <title>Bookers2Ver2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= link_to "Bookers", root_path %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
    
    <% if user_signed_in? %>
    <div class= social>
      <div>
        
        
        <i class="fa-solid fa-house"></i><%= link_to "Home"%>
      
        <i class="fa-solid fa-users"></i><%= link_to "Users"%>
      
        <i class="fa-sharp fa-solid fa-book-open"></i><%= link_to "Books", root_path %>
      
        <i class="fa-solid fa-right-from-bracket"></i><%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div>
       
        
        <i class="fa-duotone fa-house-chimney"></i><%= link_to "Home", root_path %>
      
        <i class="fa-solid fa-link"></i><%= link_to "About", '/about' %>
      
        <i class="fa-regular fa-user-plus"></i><%= link_to "Sign up", new_user_registration_path %>
     
        <i class="fa-solid fa-right-to-bracket"></i><%= link_to "Log in", new_user_session_path %>
      </div>
    </div>
    <% end %>
        </ul>
          </div>
        </div>
      </nav>
  </header>
  <%= yield %>
  
  <footer>
    CopyRight Infratop.inc
  </footer>
</body>

</html>
