<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/afee8aede3.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if user_signed_in? %>
    <div class="social">
      <div>
        <i class="fa-duotone fa-house-chimney"></i><%= link_to "Home" %>
      
        <i class="fa-solid fa-users"></i><%= link_to "Users"%>
      
        <i class="fa-sharp fa-solid fa-book-open"></i><%= link_to "Books", new_book_path %>
      
        <i class="fa-solid fa-right-from-bracket"></i><%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div>
        <i class="fa-duotone fa-house-chimney"></i><%= link_to "Home", new_user_registration_path %>
      
        <i class="fa-solid fa-link"></i><%= link_to "About", new_user_session_path %>
      
        <i class="fa-regular fa-user-plus"></i><%= link_to "Sign up", new_user_registration_path %>
     
        <i class="fa-solid fa-right-to-bracket"></i><%= link_to "Log in", new_user_session_path %>
      </div>
    </div>
    <% end %>
  </header>
  <%= yield %>
  
  <footer>
    CopyRight Infratop.inc
  </footer>
</body>

</html>
